.globalWrapper {
    max-width: 640px;
    min-width: 640px;
	-webkit-box-shadow: none;
	box-shadow:none;
}

.menuWrapper{
	width:640px;
	border:1px dotted red;
}

.resize { 
    position: relative;
    width: 640px;
    margin: 0 auto;
}

.resize_gor_first {
    width: 640px;
    margin: 0 auto;
    display: block;
}

.news_block img#tolik {
    width: 640px;
    margin-top: 35px;
    height: auto;
    float: left;
}

.exp_r {
    width: 640px;
}

.banerBg p.b_text_1 span {
    margin: auto;
    display: inline-block;
    color: #fff;
    font-size: 22px;
}

.banerBg p.b_text_1 {
    margin-top: 0px; 
  
}

.news_block p.news_t_4 {
    padding-left: 0px;
}

.why ul li {
    width: 130px;
}



.firstWrapper .resize {
    width: 640px;
}




.sale_block .left .sale_t_1 {
    font-size: 25px;
    margin-left: 20px;
   
}

.sale_block .left .sale_t_2 {
    font-size: 30px;
    margin-left: 25px;
}



.dostavkaWrapper{
	background:none;
	color:#666;
	text-align:center;
}

.dostavkaWrapper h2{
	color:#666;
	text-align:center;
}

.dostavkaWrapper ul li{
	color:#666;
	text-align:center;
}

.dostavkaWrapper h2 span{
	color:#666;
	text-align:center;
}

.finalWrapper{
	width: 640px;
	background:none;
	height:auto;
}

.finalWrapper h2 {
    margin-top: 0;
}

.footer {
    width: 640px;
}

.why h2 {
    font-size: 32px;
    
}

.catalog .item .posa {
    right: -20px;
}

.dead_magazine.active{
	width: 640px;
}

.dead_magazine.active .time {
    width: 250px;
	left:210px;
}



.feed{
	display:none;
}

.footer .left, .footer .right {
    width: 640px;
}

.dostavkaWrapper{
	height:auto;
}

.dostavkaWrapper .line{
	display:none;
}

.dostavkaWrapper ul{
	margin-top:0px;
	margin-bottom:0px;
}

.dostavkaWrapper h2 {
    font-size: 50px;
    font-weight: bold;
}


.popup_corsina{
	width: 620px;
}

.popup_corsina .head {
    width:620px;
}

.popup_corsina .head p.tovar{
	width:100px;
}
.popup_corsina .head p.name{
	display:none;
}
.popup_corsina .head p.price{
	width:80px;
}
.popup_corsina .head .kolichestvi{
	width:80px;
}
.popup_corsina .head p.suma{
	width:80px;
}

.popup_corsina .tovar_row {
    width: 620px;
}


.buttons_pokupki a{
	width:300px;
}

.sell-block {
  margin:0;
  padding:0;
}


.popup_corsina h2{
	padding-top:5px;
	padding-bottom:5px;
}



.catalog .item {
    margin: 0 10px;
}